<section class="listsMain">
  <!-- Favorites list -->
  <div class="ulFav">
    <h2 class="ulFav__titleFav">Tus favoritos</h2>
    <ul class="ulFav__favDrinks js_favCocktails"></ul>
    <div class="divButton">
      <button class="divButton__buttonFav js_buttonFav">
        Borrar favoritos
      </button>
    </div>
  </div>
  <!-- Principal list -->
  <div class="ulDrinks">
    <h2 class="ulDrinks__titleDrinks js_textHidden">
      ¡Empieza a buscar cócteles!
    </h2>
    <ul class="ulDrinks__listDrinks js_listCocktails"></ul>
  </div>
</section>
