<section class="searchMain">
  <!-- User -->
  <input
    class="searchMain__inputSearch js_searchInput"
    name="input"
    id="input"
    value=""
    type="text"
    placeholder="Buscar un cóctel"
  />
  <!-- Search -->
  <input
    class="searchMain__input js_search"
    name="search"
    id="search"
    type="submit"
    value="Buscar"
  />
  <!-- Reset -->
  <input
    class="searchMain__input js_searchReset"
    name="reset"
    id="reset"
    value="Reset"
    type="reset"
  />
</section>
