// FONTS //

$title: 'Babylonica', cursive;
$drinkTitle: 'Oswald', sans-serif;
$drinkFav: 'Shadows Into Light', cursive;
$restText: 'Barlow Semi Condensed', sans-serif;

// COLORS //

$seaBlue: #93e7e0;
$electricPink: #a60048;
$style: #fa8072;
$border: #e7d5ba;
$select: #ebe6dead;
$fav: #ffffff8e;
$base: #ffffff;

