// FONTS //

$title: 'Rubik Glitch', cursive;
$drinkTitle: 'Oswald', sans-serif;
$drinkFav: 'Shadows Into Light', cursive;

// COLORS //

$seaBlue: #93e7e0;
$electricPink: #a60048;
$borderFav: #fa8072;

