// FONTS //

$title: 'Babylonica', cursive;
$drinkTitle: 'Oswald', sans-serif;
$drinkFav: 'Shadows Into Light', cursive;
$restText: 'Barlow Semi Condensed', sans-serif;

// COLORS //

$seaBlue: #93e7e0;
$electricPink: #a60048;
$style: #fa8072;

