// HEADER + TITLE (+ MEDIAS) + IMG //

.header {
    display: flex;
    justify-content: center;
    padding: 50px; 
    background-color: $seaBlue;
    
    &__headerTitle {
        text-align: center;
        color: $electricPink;
        font-family: $title;

        @media all and (min-width: 768px) {
            font-size: 50px;
        }
        @media all and (min-width: 1200px) {
            font-size: 70px;
        }
    }

    &__cocktail {
        height: 140px;
    }
}

// DIV HEADER + MEDIAS //

.divHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 0;
    width: 80vw;
    border: 3px double $electricPink;
  
    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}
