// JS CLASS TO FAV COCKTAILS //

.favorites {
    /* Measures */
    background-color: #e7d5ba;
    /* Colors */
    border: 5px dotted #fa8072; 
    color: #fa8072;
    /* Font */
    font-family: Verdana, sans-serif;
}

// SECTION LISTS //

.listsMain {
    /* Position */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// FAV LIST //

.ulFav {
    /* Position */
    padding-top: 20px;

    &__favDrinks {
        /* Styles */
        list-style: none;
}
}

// DRINKS LIST //

.ulDrinks {
    /* Position */
    padding-top: 20px; 
    width: 60%;

    &__listDrinks {
        /* Position */
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 60%;
        gap: 30px; 
        /* Styles */  
        list-style: none;
}
}