// JS CLASS TO FAV COCKTAILS //

.favorites {
    border-radius: 20px;
    text-align: center;
    border: 3px dotted $border; 
    color: $style;
    font-family: $drinkFav;
    font-size: 20px;
}

.favorites:hover {
    background-color: $select;
}

// SECTION LISTS + LIST (BOTH) + IMG (LI)//

.listsMain {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    &__list {
        border-radius: 20px;
        text-align: center;
        font-family: $drinkTitle;
        font-size: 20px;
        color: $base;
    }
    
    &__list:hover {
        border: 3px solid $border;
    }

    &__img {
        width: 100px;
        border-radius: 20px;
        padding: 5px 5px 0;
    }
}

// FAV LIST + TITLE + DRINKS FAV (+ MEDIAS)//

.ulFav {
    width: 40vw;
    height: 80vh;
    padding: 20px 0;
    overflow-y: scroll;
    background-color: $fav;

    &__titleFav {
        font-family: $drinkFav;
        text-align: center;
    }

    &__favDrinks {
        list-style: none;
        padding: 10px;

        @media all and (min-width: 768px) {
            padding: 10px 20%;
        }
        @media all and (min-width: 1200px) {
            padding: 10px 30%;
        }
}
}

// DRINKS LIST + TITLE + DRINKS //

.ulDrinks {
    padding: 20px; 
    border: 3px ridge rgba(255, 255, 255, 0.555);
    width: 60vw;
    height: 80vh;
    overflow-y: scroll;

    &__titleDrinks {
        text-align: center;
        font-family: $drinkTitle;
    }

    &__listDrinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px; 
        /* Styles */  
        list-style: none;
}
}

// DIV BUTTON + FAV BUTTON (RESET) //

.divButton {
    display: flex;
    justify-content: center;

    &__buttonFav {
        font-family: $drinkFav;
        font-weight: 600;
        padding: 3px 5px 3px;
        border-radius: 5px;
        border: 3px ridge $style; 
        background-color: transparent;
        font-size: 16px;
    }

    &__buttonFav:hover {
        transform: scale(1.3);
    }
}
